<!-- HERO SECTION -->
<section class="hero">
    <h1 class="text-center">Welcome to the HouseHunter App!</h1>
    <h5 class="text-center">Making all those little fluffies that live in the clouds. I'll go over the colors one more time that we use: Titanium white, Thalo green, Prussian blue, Van Dyke brown, Alizarin crimson, Sap green, Cad yellow, and Permanent red. Just relax and let it flow. That easy.</h5>
    <div class="wrap row text-center">
      <%= link_to "Learn More", '#', class: "button large gr-button", id: "learn-more-button" %>
      <%= link_to "Sign up now!", new_user_path, class: "button large", id: "sign-up-button" %>
    </div>
</section>
