<!-- HERO SECTION -->
<section class="hero">
    <h1 class="text-center">Welcome to the HouseHunter App!</h1>
    <h5 class="text-center">HouseHunter helps buyers document, organize and collaborate during their search for a new home.</h5>
    <div class="wrap row text-center">
      <%= link_to "Learn More", '#', class: "button large gr-button", id: "learn-more-button" %>
      <%= link_to "Sign up now!", new_user_path, class: "button large", id: "sign-up-button" %>
    </div>
</section>
