<!-- MAIN CONTENT -->
<section class="main">

  <div class="row wrap text-center" id="main-value-prop">
      <h3>The Ultimate Value of Your Value Proposition</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet pretium gravida. Duis bibendum ligula et porta rutrum. Orci varius cras amet.</p>
  </div>

  <div class="row wrap text-center" id="main-benefits">
    <div class="column small-12 medium-4">
      <img src="http://via.placeholder.com/150x150" alt="">
      <h5 class="main-benefits">Benefit One</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque</p>
    </div>
    <div class="column small-12 medium-4 text-center">
      <img src="http://via.placeholder.com/150x150" alt="">
      <h5 class="main-benefits">Benefit Two</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque</p>
    </div>
    <div class="column small-12 medium-4 text-center">
      <img src="http://via.placeholder.com/150x150" alt="">
      <h5 class="main-benefits">Benefit Three</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque</p>
    </div>
  </div>

</section>
