<!-- FOOTER SECTION -->
<footer>
  <div class="wrap row small-up-1 medium-up-3">
    <div class="column">
      <h4>Contact Info</h4>
      <hr>
      <a href="#"><span>Phone</span> 234 567 8900</a>
      <a href="#"><span>Email</span> info@company.com</a>
      <a href="#"><span>Address</span> 123 Street Name</a>
    </div>
    <div class="column">
      <h4>Site Map</h4>
      <hr>
      <a href="#">About us</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="column">
      <h4>Social Media</h4>
      <hr>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </div>
  </div>
</footer>
